/* Establecer valores predeterminados */
:root {
    --primario: #9c27b0;
    --primario-Oscuro: #891190;
    --secundario: #ffce00;
    --secundario-Oscuro: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #000;
    --fuente-Principal: "Staatliches", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

image {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente-Principal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

.navegacion {
    background-color: var(--primario-Oscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace {
    font-family: var(--fuente-Principal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace:last-of-type{
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) { 
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto { 
    background-color: var(--primario-Oscuro);
    padding: 1rem;
}

.producto__imagen {
    width: 100%;
}

.producto__informacion {

}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuente-Principal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

.grafico {

}

.grafico__camisas{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}


@media (min-width: 768px) { 
    .grafico__node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }    
}

.footer {
    background-color: var(--primario-Oscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuente-Principal);
    text-align: center;
    font-size: 2.2rem;
}
