/* Establecer valores predeterminados */
:root {
    --primario: #9c27b0;
    --primario-Oscuro: #891190;
    --secundario: #ffce00;
    --secundario-Oscuro: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #000;
    --fuente-Principal: "Staatliches", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

image {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente-Principal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}